*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.splash{
    position: relative;
    background-image: url(../image/Intro2.jpg);
    padding-bottom: 100vh;
    background-position: center;
    
   

}

.tituloIntro{
    position: absolute;
    padding-top: 60vh;
    color: black;
    
}

.blancoPuro{
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.logoNav{
    max-width: 100%;
    height: 50x;
    object-fit: contain;
     
}

.areasH3{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.sticky{
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 100;
}

.flex2{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.placeholder{
    max-width: fit-content;
}

.fotoServicio{
    max-width: 100%;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 0.5rem;
    
}



.titutoServicio{
    margin: 0 auto;
    text-align: center;
}

.fotoArea{
    max-width: 100%;   
}
 .tituloArea{
   display: flex;
   justify-content: center;
    padding-top: 70%;
    text-align: center;
 }

 .responsive{
    max-width: 100%;
  height: auto;
 }



.textoNosotras{
    text-align: justify;
}
.flexLinkFooter{
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center
    
}
.footerContacto{
    background-color: #242424;
    color: #bebec0;
    padding-top: 1rem;
}




 .contenedorFotoNosotras{
     padding: 4rem 4rem;
 }

.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 200px; */
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
#formulario{
    background-image: url(../image/derecho_opacidad.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 4rem 0;

}
.input{
margin: 2rem;
text-align: center;
display: flex;
align-items: center;
}
.enviar{
    margin: 0 auto;
}
.social{
text-align: center;
display: flex;
justify-content: center;
margin-bottom: 2.7rem;

}
.socialMedia{
    width: 2rem;
    height: 2rem;
    margin: 0.25rem 1.5rem;
    }

.contactos{
    margin: 0.5rem;
}

.contactos p{
    margin:0.1rem
}
.dataContact{
    display: flex;
    align-items: center;
}
.logoContact{
    
    width: 2rem;
   
   
}

@media (min-width: 992px) {
    #servicios{
        height: 100vh;

    }
   
   
  
  }
  @media (max-width: 576px) {
      .fotoServicio{
          width: 85%;
          margin: 5%;
          
      }

  }

  #areas{
      padding: 5rem 0;
  }

